@import "~bootstrap/dist/css/bootstrap.min.css";

/*body {
  background-color: black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.grid2 {
  display: flex;
}

.columna1 {
  color: aqua;
}

.columna2 {
  color: aquamarine;
}
*/
