@import "~bootstrap/dist/css/bootstrap.min.css";

/*body {
  background-color: black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.grid2 {
  display: flex;
}

.columna1 {
  color: aqua;
}

.columna2 {
  color: aquamarine;
}
*/

.col-1 {
  padding: 12px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.row {
  padding-top: 100px;
  max-width: 600px;
}
